@page
@model WorkSchedule.Pages.Empresas.detailsEmpresaModel

@{
    ViewData["Title"] = "Detalhes da empresa";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<h1>Detalhes</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Razão social</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Empresa.razaoSocial)</td>
                <td>@Html.DisplayFor(model => model.Empresa.cnpj)</td>
                <td>@Model.status</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex flex-column justify-content-center">
    <div class="">
        <h4>Gestores</h4>
        @if (!Model.gestor.Any())
        {
            <p>Não há gestores vinculados</p>
        }
        else
        {
            <form method="post">
            @foreach(var gestor in Model.gestor)
            {
                <div class="d-inline">
                    <label>@gestor.Email</label><label>@gestor.cargo</label><button class="bg-warring" type="submit" asp-route-id="@gestor.Id"><i class="bi bi-trash-fill"></i></button>
                </div>
            }
            <hr/>
            </form>
        }
    </div>
    
    <div class="">
        <h4>Funcionários</h4>
        @if (!Model.funcionario.Any())
        {
            <p>Não há funcionários vinculados</p>
        }
        else
        {
            <form method="post">

           @foreach (var funcionario in Model.funcionario)
            {
                <div class="d-inline">
                    <p>@funcionario.Email</p>
                    <p>@funcionario.cargo</p>
                    <button class="bg-warring" type="submit" asp-route-id="@funcionario.Id"><i class="bi bi-trash-fill"></i></button>
                </div>
            } 
            <hr/>
            </form>

        }
    </div> 
    
    <div class="">
        <h4>Cargos</h4>
        @if (!Model.cargos.Any())
        {
            <p>Não há cargos vinculados</p>
        }
        else
        {
            <form method="post">

           @foreach (var cargo in Model.cargos)
            {
                <div class="">
                    <p>@cargo.nomeCargo</p>
                    <p>@cargo.tipoEscala</p>
                </div>
            } 
            </form>

        }
    </div> 
</div>
<div>
    <a asp-page="./updateEmpresa" asp-route-id="@Model.Empresa?.Id">Editar</a>
    <a asp-page="ListEmpresas">Voltar</a>
</div>
