@page
@model WorkSchedule.Pages.Empresas.detailsEmpresaModel

@{
    ViewData["Title"] = "Detalhes da empresa";
}

<h1>Detalhes</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.razaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.razaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa?.Id">Edit</a> |
    <a asp-page="ListEmpresas">Voltar</a>
</div>
