@page
@model WorkSchedule.Pages.Escala.listEscalaModel

@{
    ViewData["Title"] = "listEscala";
}

<h1>Escalas de trabalho</h1>

<p>
    <a asp-page="createEscala">Adicionar</a>
</p>
    
@foreach (var item in Model.empresa) {
    if(@item.escalas.Count > 0){

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tipo da escala
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>Mês</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6 x 1</td>
                    <td>
                        @item.razaoSocial
                    </td>
                    <td>
                        @item.escalas[0].mes
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item">Detalhes</a> |
                        <a asp-page="./Delete" asp-route-id="@item">Excluir</a>
                    </td>
                </tr>
            </tbody>
    </table>
    }
}